<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${category}"></title>
    <link rel="stylesheet" th:href="@{/static/styles/headerStyle.css}">
    <link rel="stylesheet" th:href="@{/static/styles/favoritesStyle.css}">
</head>
<body>
<header>
    <a th:href="@{/books}"><img th:src="@{/static/images/logo.svg}" alt="logotype"></a>
    <div class="dropdown">
        <div class="catalog-button" onclick="myFunction()">
            <span class="catalog-button-text">Каталог</span>
            <img class="catalog-image" th:src="@{/static/images/catalogButtonDetails.svg}" alt="details">
        </div>
        <div class="menu" id="my-menu">
            <div>Лекарственные препараты и бады</div>
            <div>Медицинская техника</div>
            <div>Медицинские изделия</div>
            <div>Гигиена и уход</div>
            <div>Красота и здоровье</div>
            <div>Мать и дитя</div>
            <div>Детское питание</div>
            <div>Ортопедические изделия</div>
            <div>Канцелярские товары</div>
            <div>Одежда, обувь аксессуары</div>
            <div>Оптика</div>
            <div>Продукты питания</div>
            <div>Спортивные товары</div>
            <div>Товары для активного отдыха</div>
        </div>
    </div>
    <form method="GET" th:action="@{/books/found-books}">
        <label>
            <input type="text" placeholder="Поиск" class="search" name="name">
        </label>
    </form>
    <a th:href="@{/books/favorites}">
        <div class="nav-button">
            <img class="nav-icon" th:src="@{/static/images/favoritesIcon.svg}" alt="favorites icon">
            Избранное
        </div>
    </a>
    <a th:href="@{/books/inCart}">
        <div class="nav-button">
            <img class="nav-icon" th:src="@{/static/images/cartIcon.svg}" alt="cart icon">
            Корзина
        </div>
    </a>
    <a th:if="${person==null}" th:href="@{/auth/login}">
        <button class="login-button">Войти</button>
    </a>
    <form th:if="${person!=null}" method="POST" th:action="@{/auth/logout}">
        <button class="login-button" type="submit">
            Выйти
        </button>
    </form>
</header>
<div class="container1" style="padding-top: 85px">
    <div class="categories">
        <a th:each="category:${categories}" th:href="@{/books/category(category=__${category.name}__)}">
            <div class="category" th:text="${category.name}">category name</div>
        </a>
    </div>
    <div class="div1" th:text="${category}"></div>
    <div class="main-div">
        <div class="filters">
            <span class="filters-text">Фильтры</span>
            <hr>
            <span class="filters-text">Цена, ₽</span>
            <div class="price-regulation-container" id="range-slider">
                <div class="price-regulation">
                    <span class="price" id="minPrice">2000</span>
                    <span class="price" id="maxPrice">5000</span>
                </div>
                <img th:src="@{/static/images/circle.svg}" alt="circle" class="left-circle-regulator">
                <img th:src="@{/static/images/circle.svg}" alt="circle" class="right-circle-regulator">
            </div>
            <hr style="margin-top: 29px">
            <span class="filters-text">Язык</span>
            <form class="filter-checkboxes" id="filterForm">
                <label for="Русский">
                    <input type="checkbox" id="Русский" name="language[]"   value="Русский">
                    <span class="custom-checkbox"></span>
                    Русский
                </label>
                <label for="Английский">
                    <input type="checkbox" id="Английский" name="language[]"   value="Английский">
                    <span class="custom-checkbox"></span>
                    Английский
                </label>

                <label for="Испанский">
                    <input type="checkbox" id="Испанский" name="language[]"   value="Испанский">
                    <span class="custom-checkbox"></span>
                    Испанский
                </label>

                <label for="Итальянский">
                    <input type="checkbox" id="Итальянский" name="language[]"   value="Итальянский">
                    <span class="custom-checkbox"></span>
                    Итальянский
                </label>

                <label for="Французский">
                    <input type="checkbox" id="Французский" name="language[]"   value="Французский">
                    <span class="custom-checkbox"></span>
                    Французский
                </label>

                <label for="Немецкий">
                    <input type="checkbox" id="Немецкий" name="language[]"  value="Немецкий">
                    <span class="custom-checkbox"></span>
                    Немецкий
                </label>
                <span class="more">Показать все</span>
            </form>
        </div>
        <div>
            <div class="book-cards" th:fragment="bookList">
                <div class="book-card" th:each="book:${books}">
                    <a th:href="@{/books/{bookId}(bookId=${book.bookId})}">
                        <img class="book-image" th:src="@{/static/images/bookImages/{image}(image=${book.imagePath})}" alt="book image">
                    </a>
                    <div class="book-card-container1">
                        <div class="book-card-container2">
                            <img class="star" th:src="@{/static/images/star.svg}" alt="star">
                            <span class="rate" th:text="${book.rating}">book rating</span>
                            <div th:if="${person==null}">
                                <a th:href="@{/auth/login}">
                                    <img class="nav-icon" th:src="@{/static/images/favoritesIcon.svg}" alt="favorites">
                                </a>
                            </div>
                            <div th:if="${person!=null}">
                                <img th:if="${!book.favorite}" class="nav-icon favorites" th:src="@{/static/images/favoritesIcon.svg}" alt="favorites">
                                <img th:if="${book.favorite}" class="marked nav-icon favorites" th:src="@{/static/images/markedFavoritesIcon.svg}" alt="favorites">
                            </div>
                        </div>
                        <div class="book-info">
                            <h2 class="book-name" th:text="${book.name}">book name</h2>
                            <h2 class="book-author" th:text="${book.author}">Алексей марков</h2>
                        </div>
                        <div class="book-card-container3">
                            <div th:if="${person==null}">
                                <a th:href="@{/auth/login}">
                                    <div class="add-to-cart-div">В корзину</div>
                                </a>
                            </div>
                            <div th:if="${person!=null}">
                                <div th:if="${!book.inCart}" class="add-to-cart-button">В корзину</div>
                                <div th:if="${book.inCart}" class="add-to-cart-button in-cart">Удалить</div>
                            </div>
                            <span class="book-price" th:text="${book.price} + '₽'">book price</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overlay" id="overlay"></div>
<script th:src="@{/static/scripts/mainScript.js}"></script>
<script th:src="@{/static/scripts/script.js}"></script>
<script th:src="@{/static/scripts/cartScript.js}"></script>
<script th:src="@{/static/scripts/favoritesScript.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/static/scripts/filterScript.js}"></script>
</body>
</html>