@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Philosopher, serif;
    color: rgb(17, 12, 31);
}
.container1{
    padding-left: 340px;
    padding-right: 340px;
}

.div1{
    width: 100%;
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    align-items: center;
}
.book-cards{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.book-card{
    width: 265px;
    height: 136px;
    padding: 21px 9px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 1px 0 7px -5px;
rgba(31, 26, 45, 0.22);
    border-radius: 5px;
    background-color: white;
}

.book-card-container1{
    display: flex;
    flex-direction: column;
}

.book-card-container2{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.book-image{
    width: 86px;
    height: 136px;
    border-radius: 5px;
    margin-right: 8px;
}

.star{
    margin-left: 8px;
    margin-right: 4px;
}

.rate{
    margin-right: 105px;
}

.book-name{
    font-size: 13px;
    font-weight: 400;
    line-height: 97%;
    margin-bottom: 4px;
}

.book-author{
    font-size: 14px;
    font-weight: 400;
    color: rgb(141, 141, 141);
}

.book-card-container3{
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.add-to-cart-button{
    width: 70px;
    height: 17px;
    padding: 8px 12px;
    border-radius: 5px;
    background: rgb(41, 2, 71);
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: white;
    margin-right: 18px;
    cursor: pointer;
}

.book-price{
    font-size: 24px;
    font-weight: 400;
}
